<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.cc.dao.JobDao">
    <resultMap id="job" type="job">
        <id property="id" column="j_id"/>
        <result property="name" column="j_name"/>
        <result property="did" column="j_did"/>
        <result property="state" column="j_state"/>
        <association property="department" javaType="department" column="j_did"
            select="com.cc.dao.DepartmentDao.getById">
            <id property="id" column="dept_id"/>
            <result property="name" column="dept_name"/>
            <result property="empno" column="dept_empno"/>
            <result property="state" column="dept_state"/>
            <result property="createTime" column="dept_createtime"/>
        </association>
        <collection property="employees" ofType="employee" column="j_id"
                select="com.cc.dao.EmployeeDao.getByJobid">
            <id property="id" column="emp_id"/>
            <result property="account" column="emp_account"/>
            <result property="pass" column="emp_pass"/>
            <result property="name" column="emp_name"/>
            <result property="gender" column="emp_gender"/>
            <result property="age" column="emp_age"/>
            <result property="jobid" column="emp_jobid"/>
            <result property="salary" column="emp_sal"/>
            <result property="socialSecurity" column="emp_sosecur"/>
            <result property="trainid" column="emp_trainid"/>
            <result property="phone" column="emp_phone"/>
            <result property="email" column="emp_email"/>
            <result property="state" column="emp_state"/>
            <result property="gid" column="emp_gid"/>
        </collection>
    </resultMap>
    <insert id="insert">
        <selectKey keyProperty="id" order="BEFORE" resultType="java.lang.Integer">
            select SEQ_JOB.nextval as id from dual
        </selectKey>
        insert into T_JOB(J_ID,J_NAME,J_DID,J_STATE) values (#{id},#{name},#{did},#{state})
    </insert>
    <update id="update">
        update T_JOB set J_NAME=#{name},J_DID=#{did},J_STATE=#{state} where J_ID=#{id}
    </update>
    <delete id="delete">
        delete from T_JOB where J_ID=#{id}
    </delete>
    <select id="getByName" resultMap="job">
        select * from T_JOB WHERE J_NAME=#{name}
    </select>
    <select id="getByDid" resultMap="job">
        select * from T_JOB WHERE J_DID=#{did}
    </select>
    <select id="getById" resultMap="job">
        select * from T_JOB WHERE J_ID=#{id}
    </select>
</mapper>