<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc.dao.ResumeDao">
    <resultMap id="resume" type="resume">
        <id property="id" column="re_id"/>
        <result property="gid" column="re_gid"/>
        <result property="name" column="re_name"/>
        <result property="gender" column="re_gender"/>
        <result property="email" column="re_email"/>
        <result property="city" column="re_city"/>
        <result property="school" column="re_school"/>
        <result property="major" column="re_major"/>
        <result property="age" column="re_age"/>
        <result property="description" column="re_description"/>
        <result property="salary" column="re_salary"/>
    </resultMap>
    <insert id="insert"></insert>
    <update id="update"></update>
    <delete id="delete"></delete>
    <select id="getById" resultMap="resume"></select>
    <select id="getByGid" resultMap="resume"></select>
</mapper>